serevr:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/auth/**


            - id: problem-service
              uri: lb://PROBLEM-SERVICE
              predicates:
                - Path=/problems/**






eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


jwt:
  secret: mysupersecretkeymysupersecretkey1