serevr:
  port: 8080

spring:
  application:
    name: api-gateway

  spring:
    cloud:
      gateway:
        server:
          webflux:
            routes:
              - id: user-service
                uri: http://localhost:8081
                predicates:
                  - Path=/auth/**

              - id: order-service
                uri: lb://order-service
                predicates:
                  - Path=/orders/**



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


jwt:
  secret: mysupersecretkeymysupersecretkey1